@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 291 0% 95%;
  --foreground: 291 0% 4%;
  --card: 291 0% 90%;
  --card-foreground: 291 0% 10%;
  --popover: 291 0% 95%;
  --popover-foreground: 291 95% 4%;
  --primary: 291 31.2% 43.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 291 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 253 10% 85%;
  --muted-foreground: 291 0% 35%;
  --accent: 253 10% 80%;
  --accent-foreground: 291 0% 10%;
  --highlight: 340 75% 55%;
  --highlight-foreground: 291 0% 25%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 291 0% 90%;
  --border: 291 20% 50%;
  --input: 291 20% 18%;
  --ring: 291 31.2% 43.9%;
  --radius: 0.75rem;
  --chart-1: 291 31.2% 43.9%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
}

.dark {
  --background: 291 10% 5%;
  --foreground: 291 0% 90%;
  --card: 291 0% 4%;
  --card-foreground: 291 0% 90%;
  --popover: 291 10% 5%;
  --popover-foreground: 291 0% 90%;
  --primary: 291 31.2% 43.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 291 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 253 10% 15%;
  --muted-foreground: 291 0% 60%;
  --accent: 253 10% 15%;
  --accent-foreground: 291 0% 90%;
  --highlight:340 75% 55%;
  --highlight-foreground:291 0% 25%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 291 0% 90%;
  --border: 291 20% 18%;
  --input: 291 20% 18%;
  --ring: 291 31.2% 43.9%;
  --radius: 0.75rem;
  --chart-1: 291 31.2% 43.9%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 1rem;
    --chart-1: ;
    --chart-2: ;
    --chart-3: ;
    --chart-4: ;
    --chart-5: ;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: ;
    --chart-2: ;
    --chart-3: ;
    --chart-4: ;
    --chart-5: ;
  }
    
} */
